/* * {
    border: 1px solid black;
} */
#searchSubmitButton{
    margin: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
#searchInputs{
    margin: 10px;

}

#lower-section {
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
}


#lower-section img {
    transition:margin 0.7s ease-in-out;
    transition:scale 2s ease-in-out;
}

#lower-section img:hover {
    scale:105%;
    margin-top:-10px;
    margin-left:-10px;
}
