/* * {
    border: 1px solid black;
} */
#searchSubmitButton{
    display: flex;
    justify-content: center;
    justify-items: center;
}
#searchInputs{
    margin: 10px;

}
#searchHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.material-placeholder{
    /* width: 300px; */
}
#search-display-picture{
    align-items: center;
    display: flex;
    justify-content: center;
    
}
#search-info{
    border:5px solid darkslategray;
    border-radius: 5px;
    /* display: flex; */
}
#search-display-main{
    display: flex;
    background-color: grey;
}
#gameSearchTitle{
    text-align: center;

}
#gameSearchImage{
    border: 5px solid darkslategray;
    border-radius: 5px;

}
#searched-links{
    display: flex;
    justify-content: space-between;

}


#lower-section {
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
}

#generatedSearchCard {
    min-height:350px;
}

#lower-section img {
    transition:margin 0.7s ease-in-out;
    transition:all 1s;
}

#lower-section img:hover {
    scale:102%;
    margin-top:-10px;
    margin-left:-10px;
}
